# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
BleachUI/.vs
BleachUI/BleachUI/x64
BleachUI/BleachUIModel/x64
BleachUI/x64
BleachUI/build-*
BleachUI/BleachUI.pro
BleachUI/CoreView/x64
BleachUI/CoreModel/x64
BleachUI/RequestFlow/x64
build-*
BleachUI/RequestFlow.pro.user*
*.pro.user.*
RequestFlowApp/RequestFlow.pro.user
*.zip
RequestFlowApp/deploy/RequestFlow-win-dist.7z
RequestFlowApp/deploy/RequestFlow-win-dist
RequestFlowApp/.vs
RequestFlowApp/CoreModel/debug
RequestFlowApp/CoreModel/release
RequestFlowApp/CoreModel/x64
RequestFlowApp/CoreView/debug
RequestFlowApp/CoreView/release
RequestFlowApp/CoreView/x64
RequestFlowApp/ExecutionEngine/debug
RequestFlowApp/ExecutionEngine/release
RequestFlowApp/ExecutionEngine/x64
RequestFlowApp/RequestFlow/debug
RequestFlowApp/RequestFlow/release
RequestFlowApp/RequestFlow/x64
RequestFlowApp/x64
RequestFlowApp/RequestFlow/ui_ViewerNodeUi.h
RequestFlowApp/RequestFlow/ui_*.h
RequestFlowApp/CoreView/ui_*.h
.DS_Store
*.DS_Store
*.DS_Store
RequestFlowApp/deploy/RequestFlow-mac/RequestFlow.dmg
