# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
BleachUI/.vs
BleachUI/BleachUI/x64
BleachUI/BleachUIModel/x64
BleachUI/x64
BleachUI/build-*
BleachUI/BleachUI.pro
*.pri
*.pro
BleachUI/CoreView/x64
BleachUI/CoreModel/x64
BleachUI/RequestFlow/x64
